body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    overflow: hidden;
}

#initial-video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

#initial-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header {
    background-color: rgba(0, 114, 254, 0.989);
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: background-color 0.3s;
}

header:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.logo {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffffdf;
    animation: fadeIn 2s;
}

#city-search {
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    width: 200px;
    transition: width 0.3s;
}

#city-search:focus {
    width: 300px;
}

.main {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 60px;
    flex-wrap: wrap;
}

.weather-container {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.5s, background-color 0.5s;
    width: 300px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeIn 2s;
    margin-top: 50px;
}

.weather-container:hover {
    transform: scale(1.05);
}

.weather-detail {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.5s;
    width: 300px;
    display: none;
}

.weather-detail.active {
    display: block;
}

#weather-icon {
    width: 100px;
    height: 100px;
    margin: auto;
    background-size: cover;
    background-position: center;
}

#detail-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.search-list-container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
    margin-top: 20px;
    position: fixed;
    top: 100px;
    right: 20px;
}

.search-item {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: background-color 0.3s;
}

.search-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.search-item button {
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
    filter: brightness(0.7);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
        margin-top: 35%;
    }

    .weather-container, .weather-detail, .search-list-container {
        width: 80%;
        margin: 10px 0;
    }

    .search-list-container {
        position: static;
        top: auto;
        right: auto;
    }
    header {
        flex-wrap: wrap;
        justify-content: center;
    }
    .logo {
        margin-bottom: 10px;
        margin-right: auto;
    }
}
