body {
font-family: Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-height: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li{
    margin-right: 20px;
    
}

nav a {
    text-decoration: none;
    color: #333;

}

input {
    padding: 10px 20px 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.25) !important;
    border-radius: 25px;
    width: 200px;
}
.lower {
    text-align: center;
    margin-left: 2%;
    margin-top: 25px;
}
.signup {
        width: 100px;
        padding: 10px;
        margin: 5px;
        background-color: rgb(16, 138, 0);
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 15px;
        border-radius: 20px;

}
.signup:hover {
    background-color: rgb(9, 151, 9);
}
.login {
   color: #333;
   padding-left: 35%;
}
.left {
    position: absolute;
    top: 10% 0% 0% 0%;
    left: 5%;
    font-size: 25px;    
    width: 450px;
    }
    .left h1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 70px;
        color: rgb(16, 138, 0);
        font-weight: light;
    }
.left p {
    margin: -10;
}
    
.Get  {
    width: 120px;
    padding: 10px 5px;
    margin: 5px;
    background-color: rgb(16, 138, 0);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 20px;
}
.right {
    position: absolute;
    top: 20%;
    left: 50%;
}
.right img {
    height: 400px;
}

.below {
    display: flex;
    margin-top: 50%;
}
.below img {
    width: 90%;
    margin-left: 5%;
}